
  @import url("https://use.typekit.net/aix8qzm.css");
@import 'variables';


html,body{
  margin: 0;
}
html{
    
font-family: pt-sans-pro, sans-serif;
font-style: normal;
font-weight: 300;
}



section.home{

  width: 100vh;
  height: 100vh;

[class*='col1']{

}
.col-1{

}
.col-2{

}
.col-3{

}
.col-4{

}

}




section.servicios{

  h2{
    text-align:right;
  }
  .vision{

    h3{
      text-align: center;
    }
    p{
       .text-Highlight1{
         color:$blue;

     }
       .text-Highlight2{
         color:$pink;

     }
    }
  }

}



section.consulta{

  
}
section.optica{

h3{
  text-align: right;
}
}