.home{


  
}
.home-row1{
  height: 80%;
  background-image: url('../assets/images/baner_1.jpg');
  background-position: center top;
  background-size: cover;
}

.home-row-2{
  height: 20%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
 
}